@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
}

.purple {
  color: #6415ff;
  font-weight: bold;
}

.white {
  color: white;
}

.gray {
  color: #a0aec0;
}

.btn {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 50px;
  color: white;
  background-color: #6415ff;
  line-height: 1.5;
  transition: all 300ms ease;
  border: none;
  width: auto;
  white-space: nowrap;
  font-weight: 600;
}

.container {
  padding: 80px 0;
}

section {
  padding: 0 32px;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0;
}

.section__para {
  font-weight: 500;
  font-size: 18px;
  max-width: 576px;
  color: #243e6398;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
}

/*

NAV

*/

#home {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

nav {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.logo__title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
}

li {
  list-style-type: none;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link--login {
  margin-left: 48px;
}

/*

HEADER

*/

.header__description {
  width: 50%;
}

.header__description--para {
  font-size: 20px;
  margin: 32px 0;
}

.header__title {
  font-size: 48px;
}

.header__email {
  width: 100%;
  max-width: 400px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
  padding: 20px;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  height: calc (100% - 16px);
  margin: 8px;
  z-index: 2;
  transition: all 300ms ease;
  font-size: 16px;
}

.header__customers--title {
  margin-top: 80px;
  color: gray;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
}

.header__customers {
  width: 100%;
  padding-right: 64px;
  margin-top: 16px;
}

.header__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__img--wrapper {
  display: flex;
  justify-content: flex-end;
}

.header__img {
  width: 90%;
}

/*

FEATURES

*/

#features {
  position: relative;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  display: flex;
  width: calc(100% / 3);
}

.feature__img--wrapper {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.293);
  border-radius: 50px;
  height: 66px;
  width: 66px;
}

#features .row {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 58px;
  margin: 0 auto;
}

.feature__row {
  display: flex;
  padding: 32px 24px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  color: #243e6398;
  font-weight: 500;
  line-height: 2;
  margin-top: 16px;
}

/*

QUALITY WORK

*/

#quality {
  padding: 0 32px;
}

.quality__para {
  font-weight: 500;
  font-size: 18px;
  max-width: 576px;
  color: #243e6398;
}

.quality__description {
  width: 50%;
  max-width: 576px;
}

#quality .btn {
  margin-top: 32px;
}

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality__img {
  width: 100%;
  max-width: 512px;
}

.quality__img--wrapper {
  margin: 0 56px;
  position: relative;
  display: flex;
}

/*

STEPS

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img-wrapper {
  width: 50%;
}

.steps__img {
  max-width: 570px;
  width: 100%;
}

.steps__description {
  padding: 32px 0;
  padding-left: 64px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  margin-top: 32px;
  align-items: flex;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
}

.step__description {
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
}

.step__para {
  margin-top: 12px;
  font-size: 14px;
  color: #718096;
  font-weight: 500;
}

/*

PLANS

*/

#plans .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans__para {
  font-weight: 500;
  font-size: 18px;
  max-width: 576px;
  color: #243e6398;
  text-align: center;
}

.plan__stripe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(3) .plan__stripe {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plans {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.plan {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  margin-top: 64px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 384px;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__top {
  padding: 32px 0;
}

.plan__middle {
  padding: 32px;
  margin-left: -32px;
  margin-right: -32px;
}

.plan__name {
  font-size: 20px;
  font-weight: bold;
}

.plan__price {
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0;
}

.plan__duration {
  font-size: 16px;
  font-weight: bold;
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: gray;
  font-size: 16px;
}

.plan__bottom {
  padding: 32px;
}

.plan__button {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  border-radius: 50px;
  padding: 16px;
  transition: all 300ms ease;
}

.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

.plan:nth-child(2) .plan__button {
  color: #6415ff;
  background-color: #f7fafc;
}

/*

FOOTER

*/

#footer {
  background-color: rgb(100, 21, 255);
  width: 100%;
}

.footer__row {
  padding: 56px 32px;
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.footer__column--title {
  font-weight: 700;
  color: #f7fafc;
}

.footer__column--link:nth-child(2) {
  margin-top: 24px;
}

.footer__column--link {
  color: #f7fafc;
  font-size: 14px;
  margin-top: 12px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  line-height: 1.5;
}

.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0;
  background: rgb(116, 44, 255);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  height: 32px;
  width: 32px;
}

.footer__logo--text {
  font-size: 20px;
  color: #f7fafc;
  font-weight: 900;
  margin-left: 8px;
  letter-spacing: 1px;
}

.footer__copyright {
  color: rgb(194, 194, 194);
  font-weight: 500;
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__socials--wrapper {
  width: 32px;
  height: 32px;
  background: #f7fafc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
  transition: all 300ms ease;
}

/*

EXTRA CSS TOUCHES

*/

input[type="email"]:focus {
  outline: none;
  border: 2px solid rgb(92, 28, 245);
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #6415ff;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover-effect--white {
  position: relative;
  display: inline-block;
  max-width: fit-content;
}

.link__hover-effect--white:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:hover:after {
  width: 100%;
  left: 0;
}

.plan__button:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 300ms ease;
}

.footer__socials--wrapper:hover {
  background-color: rgb(173, 173, 173);
}

.btn:hover {
  background-color: #4815ad;
}

/* Breakpoints */

@media (max-width: 1280px) {
  .header__title {
    font-size: 30px;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__img {
    max-width: 512px;
  }
}

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }

  .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  header .row {
    flex-direction: column;
    align-items: center;
  }

  .header__description--para {
    margin: 20px 0;
  }

  .header__customers {
    padding-right: 0px;
  }

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
  }

  .features {
    max-width: 768px;
  }

  .feature__row {
    padding: 32px 8px;
    margin: 0 16px;
  }

  .feature {
    width: calc(50%);
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .features {
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .section__title {
    text-align: center;
  }

  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }

  .quality__description {
    width: 100%;
    max-width: 448px;
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }

  .quality__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  #steps .row {
    flex-direction: column;
  }

  .steps__description {
    width: 100%;
    max-width: 448px;
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .step__description {
    margin-top: 12px;
    margin-left: 0;
  }

  .footer__columns {
    justify-content: flex-start;
  }

  .footer__column {
    width: calc(100% / 3);
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright,
  .footer__socials {
    margin-top: 32px;
  }

  .feature__text {
    text-align: center;
  }

  .feature__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .container {
    padding: 80px 0;
  }

  .footer__columns {
    justify-content: center;
  }

  .footer__column {
    width: auto;
    padding: 0 16px;
    text-align: center;
    align-items: center;
  }

  .footer__copyright {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
  }
}

/*

MOBILE MENU

*/

.btn__menu {
  background: transparent;
  display: none;
}

.btn__menu--icon {
  font-size: 24px;
  background: transparent;
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
  font-size: 24px;
  background: transparent;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__link {
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  margin-bottom: 12px;
}

.menu {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transform: translate(100%);
  transition: all 300ms ease;
  opacity: 0;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
}
